body /* typ selector */ {
    font-family: georgia, Arial , Helvetica, sans-serif ;
    margin: 0px;
    font-size: 1.1vw;
    background-color: #CBB47C;
}
.io{ background-color: #ca6e43;}
body > div > header {
    background-color: rgba(248, 248, 255, 0.4);
    width: 25%;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* MAKE STICKY HEADER */
    position: sticky;
    top: 0;

   
}



#logo /* id selector */ {
    margin: 0px;
    padding: 10px;
    font-family: "Jomhuria", sans-serif;
    font-size: 300%;
    font-weight: 400;
    font-style: normal;
    width:18%;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.400), -2px -2px 0px rgba(0, 0, 255, 0.400);
}

ul {
    margin: 0px;
}

body > div >  header > nav > ul /* child selector*/{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 0;
   
}


.navbutton /* class selector */ { 
    text-decoration: none;
    color: #0E2B88;
    margin: 8px;
    padding: 10px 20px;
    
}

.navbutton:hover {
    color: #D88686;
    border: 1px solid ;
    border-radius: 5%;
    border-color: black;
}


#title_top {
    height: 96vh;
    width: 100%;
    background-image: url(urban-vintage-78A265wPiO4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#title_top_about {
    height: 60vh;
    width: 100%;
    background-image: url(wei-yu-xuIZi-rmpiY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#title_top_contact {
    height: 80vh;
    width: 100%;
    background-image: url(rodion-kutsaiev-a7IVuJwYjp8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#top {
    color: white;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.title_top {
    text-decoration: none;
    color: red;
    /* makes border around link + bigger clickable area */
    margin: 8px;
    padding: 15px 20px;
    border: 1px solid chartreuse;
    border-radius: 5%;
}

#tite {
    text-align: center;
    margin-top: 0px;
    padding-top: 23px;
}

#main_content { 
    background-color: #8e8923;
    color: rgb(212, 212, 212);
    height: 34vh;
}

#main_content > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about {
    background-color: #786773;
    text-align: center;
}

#title { 
    text-align: center;
}


body > footer {
    background-color: #495755;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

body > footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

body > footer ul li a {
    text-decoration: none;
    color: #0E2B88;
}

