body /* typ selector */ {
    font-family: georgia, Arial , Helvetica, sans-serif ;
    margin: 0px;
    font-size: 1.1vw;
}

body > div > header {
    background-color: rgba(248, 248, 255, 0.4);
    width: 25%;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* MAKE STICKY HEADER */
    position: sticky;
    top: 0;

   
}



#logo /* id selector */ {
    margin: 0px;
    padding: 10px;
    font-family: "Jomhuria", sans-serif;
    font-size: 300%;
    font-weight: 400;
    font-style: normal;
    width:18%;
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.400), -2px -2px 0px rgba(0, 0, 255, 0.400);
}

ul {
    margin: 0px;
}

body > div >  header > nav > ul /* child selector*/{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-right: 40px;
}


.navbutton /* class selector */ { 
    text-decoration: none;
    color: #0E2B88;
    margin: 8px;
    padding: 15px 20px;
    
}

.navbutton:hover {
    color: red;
    border: 1px solid ;
    border-radius: 5%;
    border-color: whitesmoke;
}


#title_top {
    height: 96vh;
    width: 100%;
    background-image: url(urban-vintage-78A265wPiO4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#top {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.title_top {
    text-decoration: none;
    color: red;
    /* makes border around link + bigger clickable area */
    margin: 8px;
    padding: 15px 20px;
    border: 1px solid chartreuse;
    border-radius: 5%;
}

#main_content article { 
    width: 90%;
    margin: auto;
}

#main_content { 
    background-color: white;
    display: flex; 
    justify-content: space-around;
}

#main_content > div { 
    width: 80%;
}

#title { 
    text-align: center;
}

form { 
    text-align: center;
}

body > footer {
    background-color: #5f9ea0;
    display: flex;
}

body > footer ul {
    list-style: none;
}

body > footer ul li a {
    text-decoration: none;
    color: #0E2B88;
}



img { 
    border-radius: 50%;
}